.pragraf{
  align-items: center;
    display: flex;
    justify-content: center;
    font-size: 37px;
    font-weight: 500;
    background-image: var(--liner);
    padding: 58px 0;
    text-align: center;
}
.text-one {
  padding: 0 15px;
  padding-top: 15px;
  padding-bottom: 15px;}
.text-one .container{  
  text-align: center;
}
.text-one h2,.pragraf-two h2{
  padding: 29px 0;
  letter-spacing: 10.2;
  font-weight: 200;
  text-align: center;
}
.text-one p,.pragraf-two h2{   
  text-align: center;
  color: rgba(43,44,43,.75);
  padding-top: 34px;
  padding-bottom: 25px;
  letter-spacing: 10.2;
  font-size: 20px;
}
@media screen  and (max-width: 767px) {
  .pragraf{font-size: 15px;
  padding: 35px 0;}
  .text-one{
    font-size: 70%;
  }
}


/* start-main titl */
@media (max-width: 767px) {
  .main-title {
    padding: 5px 10px;
    font-size: 8px;
    margin: 50px auto;
  }
}

.main-title {
  position: relative;
  border: 2px solid black;
  padding: 10px 20px;
  width: fit-content;
  margin: 100px auto;
  z-index: 1;
  transition: var(--maintransiton);
  background-color: white;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: var(--liner);
  border-radius: 50%;
  top: 50%;
  transform: translatey(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left 1s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right 1s linear forwards;
}

.main-title a {
  color: black;
}

@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
}

@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* end */

/* <!-- start-we-are  -->*/
@media (max-width: 767px) {
  .weare .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .who .container .box .imge img {
    max-width: 70%;
  }

  .who .container .box .imge {
    text-align: center;
  }

  .weare .container .box .imge {
    text-align: center;
  }

  .weare .container .box .imge img {
    max-width: 70%;
  }
}

.weare {
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: var(--second-coloe);
}

.weare .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  flex-wrap: wrap;
  text-align: center;
}

.weare .container h3,
.who h3 {
  font-weight: 600;
  text-align: center;
  font-size: 41px;
  padding: 20px 0;
}

img {
  max-width: 100%;
}

.weare .container .box img,
.who .container .box img {
  border-radius: 63px;
  width: 350px;
    height: 300px;
}

.weare .container .box h2 {
  padding: 50px 0 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.weare .container .box p {
  text-align: center;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
line-height: 1.5;}


@media (max-width: 767px) {

  .weare .container .box 
   {
    font-size: 10px;
    margin: 10px;
    font: 15px;
  }
}

.weare p {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  font-family: initial;
}

/*  */
.sales {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sales .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.sales .container .box {
  text-align: center;
  border: 1px solid var(--yello-color);
  border-radius: 50px;
}

.sales .container .box:hover img {
  transform: translatey(-30px);
}

.sales .container .box img {
  border-radius: 50%;
  padding: 5px 10px;
  height: 317px;
  width: 244px;
}

.sales .container .box h2 {
  font-size: 20px;
  color: var(--yello-color);
  padding: 10px 0;
}

.sales .container .box p {
  padding: 10px;
  color: var(--blacsh-colo);
  font-size: 15px;
}





@media (max-width: 767px) {
  .text .container p {
    font-size: 10px;
    padding: 5px 5px;
    margin: 30px;
  }
}

.what {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-coloe);
  height: 100vh;
  width: 100%;
}

.what .container h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.what .container h3 {

  text-align: center;
  padding: 30px 0;
color: black;  font-size: 30px;
  font-weight: 500;
}

.what .container p {
  text-align: center;
  padding: 15px 0;
  line-height: 1.5;
  color: #0000008a;
}
